@inherits LayoutComponentBase
@page "/"

<PageTitle>Trang chủ</PageTitle>
<div class="container">
    <h1 class="text-center mb-3">Customer Contact Form</h1>
    <EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label class="form-label" for="fullname">Full name *</label>
            <input class="form-control" name="fullname" id="fullname" placeholder="Enter your full name" @bind="Model.fullname"/>
            <ValidationMessage class="text-danger" For="@(() => Model.fullname)"/>
        </div>
        
        <div class="form-group mt-3">
            <label class="form-label" for="email">Email *</label>
            <input class="form-control" name="email" id="email" placeholder="Enter your email" @bind="Model.email" />
            <ValidationMessage class="text-danger" For="@(() => Model.email)"/>
        </div>

        <div class="form-group mt-3">
            <label class="form-label" for="PhoneNumber">Phone number *</label>
            <input class="form-control" name="PhoneNumber" id="PhoneNumber" placeholder="Enter your phone number" @bind="Model.PhoneNumber"/>
            <ValidationMessage class="text-danger" For="(() => Model.PhoneNumber)"/>
        </div>

        <div class="form-group mt-3">
            <label class="form-label" for="address">Address</label>
            <input class="form-control" name="address" id="address" placeholder="Enter your address" @bind="Model.address" />
            <ValidationMessage class="text-danger" For="(() => Model.address)"/>
        </div>

        <div class="form-group mt-3">
            <label class="form-label" for="message">Message *</label>
            <textarea class="form-control" name="message" id="message" placeholder="Enter your message " style="height: 150px;" @bind="Model.message"/>
            <ValidationMessage class="text-danger" For="(() => Model.message)"/>
        </div>

        <div class="form-group mt-3">
            <label for="SelectService">Select Service *</label>
            <select class="form-select mt-3" name="SelectService" id="SelectService" @bind="Model.SelectService">
                <option value="">Choose...</option>
            </select>
            <ValidationMessage class="text-danger" For="(() => Model.SelectService)"/>
        </div>


        <div class="form-check mt-4 ">
            <input class="form-check-input" type="checkbox" name="dongY" id="dongY"  @bind="Model.dongY"/>
            <label class="form-check-laber" for="dongY">I agree to terms and conditions *</label> 
            <ValidationMessage class="text-danger error-msg" For="(() => Model.dongY)"/>
           
        </div>

        <div class="form-group mt-4">
            <button class="btn btn-primary type=" submit" style="width: 100%;">Submit</button>
        </div>
    </EditForm>
</div>




@code {
    Register Model = new Register();
    public async Task HandleValidSubmit()
    {
        Console.WriteLine("submit");
        Console.WriteLine(JsonSerializer.Serialize(Model));
    }



}